version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: retail_user
      POSTGRES_PASSWORD: retail_pass
      POSTGRES_DB: retail_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  etl:
    build: .
    env_file:
      - .env.example
    depends_on:
      - db
volumes:
  pgdata: